/* General styles for app */
.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
} 

/* Styles for user text row */
.user-text-row {
  margin: 0;
  margin-top: 10px;
}
.user-text {
  width: 1000px;
  display: block;
  word-wrap: break-word;
}

/* Styles for system text row */
.system-row {
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 5px;
}
.system-text {
  width: 950px;
}

/* Styles for generate button */
.generate-button {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  height: 100px;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

.generate-button:hover   {
  color: #ac40d4;
  border-color: transparent;
}

.generate-button.loading {
  display: block;
  margin: 0 auto;
  cursor: default;
  background-color: transparent;
}

/* Styles for spinner icon */
.spinner-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles for result text */
.result-text {
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Styles for text type dropdown */
.text-type-dropdown {
  margin: 0 !important;
  margin-top: 10px !important;
  width: 300px;
}